.App{
  background-color: #578FCA;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.white-box {
  background-color: white;
  color: #578FCA;
  padding: 2rem;
  border-radius: 12px;
  width: 90%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.content-home {
  flex: 1;
  min-height: 100%;
  display: flex;
  justify-content: center;
  margin: 2rem;
  text-align: center;
}